In [ ]:
import pandas as pd

# Input file paths
file1 = 'datasets/sentiment+labelled+sentences/sentiment labelled sentences/amazon_cells_labelled.txt'
file2 = 'datasets/sentiment+labelled+sentences/sentiment labelled sentences/imdb_labelled.txt'
file3 = 'datasets/sentiment+labelled+sentences/sentiment labelled sentences/yelp_labelled.txt'


# Output CSV file path
output_file = 'output.csv'

# Read data from all text files into separate DataFrames
# You might need to specify the appropriate delimiter in the 'sep' parameter
df1 = pd.read_csv(file1, sep='\t')  # Replace '\t' with the appropriate delimiter
df2 = pd.read_csv(file2, sep='\t')
df3 = pd.read_csv(file3, sep='\t')

# Concatenate DataFrames vertically
all_data = pd.concat([df1, df2, df3], ignore_index=True)

# Write the concatenated DataFrame to a CSV file
all_data.to_csv(output_file, index=False)

In [ ]:
comments = pd.read_csv('output.csv')

In [ ]:
comments.info()

In [ ]:
comments.drop(['Unnamed: 2', 'Unnamed: 3', 
                'Unnamed: 4'], axis=1, inplace=True)

In [ ]:
comments.head()

In [ ]:
comments.to_csv('mergedset.csv')

In [5]:
import os

# Directory containing the text files to concatenate
directory_path = 'datasets/aclImdb_v1.tar/test/neg'

# Function to read and concatenate text files
def concatenate_text_files(directory_path):
    concatenated_text = ''
    for filename in os.listdir(directory_path):
        if filename.endswith('.txt'):
            file_path = os.path.join(directory_path, filename)
            with open(file_path, 'r', encoding='utf-8') as file:
                text = file.read()
                concatenated_text += text.strip() + '\n'  # Add a newline after each file's content

    return concatenated_text

# Step 1: Concatenate text files into a single text file
all_text = concatenate_text_files(directory_path)

# Step 2: Write the combined text to a new text file
combined_file_path = 'combined_text.txt'
with open(combined_file_path, 'w', encoding='utf-8') as file:
    file.write(all_text)

# Step 3: Convert the combined text file to CSV
import pandas as pd

# Read the combined text file line by line into a DataFrame
lines = all_text.strip().split('\n')
df = pd.DataFrame({'text': lines})

# Save the DataFrame to a CSV file
output_csv_file = 'negativeonestest.csv'
df.to_csv(output_csv_file, index=False)

In [8]:
import pandas as pd
positiveones = pd.read_csv('positiveones.csv')

In [9]:
positiveones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12500 entries, 0 to 12499
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  12500 non-null  object
 1   label    12500 non-null  int64
dtypes: int64(1), object(1)
memory usage: 195.4+ KB